{% extends '../base.html' %}
{% load staticfiles %}
{% block titulo_pagina %}
    Reservas de Hoje
{% endblock titulo_pagina %}
{% block h1_pagina %}
    Reservas para hoje
{% endblock h1_pagina %}
{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <div class="d-flex flex-wrap">
    {% for reserva in reservas %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text font-weight-bold">{{ reserva.cliente_reserva }}</p>
                  <p class="card-text ">{{ reserva.data_reserva }} às {{ reserva.hora_reserva}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
            </div>
{% endblock content %}
