{% extends '../base.html' %}
{% block titulo_pagina %}
    {{ produto.desc_produto }} - Salão
{% endblock titulo_pagina %}
{% block h1_pagina %}
    {{ produto.desc_produto }}
{% endblock h1_pagina %}
{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <p class="mr-3"> <b>Descrição do produto:</b> {{produto.desc_produto}}</p>
<p class="mr-3"> <b>Pontos do produto:</b> {{produto.pontos_produto}}</p>
<p class="mr-3"> <b>Valor do produto:</b> R$ {{produto.valor_produto}}</p>
<p class="mr-3"> <b>Marca do produto:</b> {{produto.marca_produto}}</p>
{% endblock content %}
