{% extends '../base.html' %}
{% block titulo_pagina %}
    {{ servico.desc_servico }} - Salão
{% endblock titulo_pagina %}
{% block h1_pagina %}
    {{ servico.desc_servico }}
{% endblock h1_pagina %}
{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <p class="mr-3"> Descrição do serviço: {{servico.desc_servico}}</p>
    <p class="mr-3"> Pontos do serviço: {{servico.pontos_servico}}</p>
    <p class="mr-3"> Valor do serviço: R$ {{servico.valor_servico}}</p>
{% endblock content %}