.img-dashboard {
  padding: 0.25rem;
  max-width: 25%;
  width: 100%;
  height: auto;
  /*margin: 0 auto;*/
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
}
.card-dashboard {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  transition: .3s;
}
.card-dashboard > p{
  color: #000000;
}
.card-dashboard:hover{
  color: #1e7e34 !important;
  background: rgba(44, 176, 71, 0.23);
}

