{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <title>{% block titulo_pagina %}{% endblock titulo_pagina %} - Rota 836</title>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light bg-white border-bottom box-shadow">
        <a class="navbar-brand font-weight-bold" href="{% url 'salao:index' %}">Rota 836</a>
        <a class="btn btn-outline-primary" href="{% url 'salao:fazer_venda' %}">Fazer Venda</a>
        <a class="ml-2 btn btn-outline-success" href="{% url 'salao:reservas_hoje' %}">Reservas de Hoje</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto">
             <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reserva
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'salao:reservas_hoje' %}">Reservas de amanhã</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'salao:incluir_reserva' %}">Incluir Reserva</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cliente
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'salao:listar_clientes' %}">Lista de Clientes</a>
                        <a class="dropdown-item" href="{% url 'salao:melhores_clientes' %}">Melhores Clientes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'salao:incluir_cliente' %}">Incluir Cliente</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Produto
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'salao:listar_produtos' %}">Lista de Produtos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'salao:incluir_produto' %}">Incluir Produto</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Serviço
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'salao:listar_servicos' %}">Lista de Serviços</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'salao:incluir_servico' %}">Incluir Serviço</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Venda
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'salao:listar_servicos' %}">Lista de Serviços</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'salao:incluir_servico' %}">Incluir Serviço</a>
                    </div>
                </li>
            </ul>
            <a class="nav-link disabled font-weight-bold" href="#">Usuário: {{user}}</a>
            <a class="btn btn-danger" href="{% url 'salao:logout' %}">Sair</a>



  </div>
</nav>
        <div class="content container mt-5">
            <div class="page-header">
                <h1 class="display mb-5">{% block h1_pagina %}{% endblock h1_pagina %}</h1>
            </div>
            {% block content %}
            {% endblock content %}
            {% block modal %}
            {% endblock %}
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/funcoes.js' %}"></script>
  </body>
</html>